[submodule "lib"]
	path = lib
	url = git@github.com:tw-yshuang/Useful_Tools_for_Me.git
[submodule "src/TrackNetv2"]
	path = src/TrackNetv2
	url = https://nol.cs.nctu.edu.tw:234/open-source/TrackNetv2.git
